* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff7f3f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button.submit-btn {
    background-color: #5c3b31;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button.submit-btn:hover {
    background-color: #532f21;
}

.thank-you-message {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 30px;
    color: rgb(105, 42, 5);
}

/* Media Query for smaller devices */
@media (max-width: 600px) {
    .form-container {
        padding: 15px;
        width: 90%;
    }
    h1 {
        font-size: 1.5rem;
    }
}
